#nav {
  width:100%;
  height:5vh;
  color:white;
  background-color:black;
  text-align:center;
}

#inner-body {
  background: url("../pictures/muralpic_3.jpg") no-repeat center center fixed;
  width:100%;
  height:100vh;
  -webkit-background-size:cover;
  -moz-background-size:cover;
  -o-background-size:cover;
  background-size:cover;
}

#bodytitle {
  width:100%;
  position:absolute;
  top:50%;
  transform:translateY(-50%);
  clear: both;
}

#bodytitle h2 {
  margin: auto;
  font-size:32px;
  font-family:"Lucida Console", Monaco, monospace;
  -webkit-text-fill-color: white; /* Will override color (regardless of order) */
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: black;
}

.btn {
  width:100px;
  height:100px;
  border-radius:100%;
  border: 5px solid black;
  font-size: 60px;
  opacity: 0.6;
  color: black;
  background-color: white;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.glyphicon {
<<<<<<< Updated upstream
  text-align: center;
}

.btn:hover {
  opacity: 1;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

#back {
  float:left;
  margin-left: 5%;
}

#forward {
  float: right;
  margin-right: 5%;
}

.img-responsive {
  position:absolute;
  width:20%;
  background:black;
  color:white;
  font-family:helvetica;
  font-size:22px;
  top:70%;
  left:60%;
  border-radius:10px;
  -webkit-box-shadow: 1px -2px 39px 0px rgba(0,0,0,0.75);
  -moz-box-shadow: 1px -2px 39px 0px rgba(0,0,0,0.75);
  box-shadow: 1px -2px 39px 0px rgba(0,0,0,0.75);
  text-align:center;
  border:1px solid white;
}

#header {
  font-size:70px;
  line-height:70%;
  color:black;
}
#myProgressbar {
  width: 70%;
  position: absolute;
  left:15%;
  bottom: 1%;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.progress-bar{
  background-image: none;
  background-color: grey;
}
