@media only screen and (max-width: 320px) {

   body { font-size: 2em; }

}


* {
  font-family:'Open Sans', Helvetica, sans-serif;
}


.section {
  font-size: 6em;
  text-align: center;
}

.video {
  background-color:white;
}

#intro {
  background-image:
    linear-gradient(
      rgba(4, 174, 189, 0.5),
      rgba(4, 174, 189, 0.5)
    ), url('../pictures/introimage.jpg');
  color:white;
}

#head {
  line-height:50%;
  text-align: left;
  position:absolute;
  left:1.5%;
  top:35%;
}

#slide1 {
  background-image: url('../pictures/muralpic_6.jpg');
}

#slide3 {
  background-image: url('../pictures/muralpic_5.jpg');
}

#slide5 {
  visibility:hidden;
  background-image: url('../pictures/train.gif');
}
#blurb1 {
  background-image: url('../pictures/muralpic_2.jpg');
}

#blurb2,#slide4,#slide2 {
  background-image: url('../pictures/pink_rice.png');
}


.slide {
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}


#myProgressbar {
  z-index: 99;
  position: fixed;
  top: 5vh;
  width: 100%;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  border-radius: 0px;
  height: 10px;
}

.progress-bar{
  background-image: none;
  background-color: #DF3D82;
}

#nav {
  position: fixed;
  top: 0%;
  z-index: 99;
  width:100%;
  height:5vh;
  color:white;
  background-color:black;
  text-align:center;
}

.btn {
  transition:         color .25s;
  height:60px;
  font-size: 30px;
  border-radius: 0px;
  /*box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);*/
}

#back {
  width:60px;
  float: left;
}

#forward{
  width:160px;
  float:right;
}

.btn:hover {
  opacity: .85;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

#bodytitle {
  width: 220px;
  height: 60px;
  z-index: 999;
  position:absolute;
  bottom: 2.5%;
  right: 2.5%;
}

#tagline {
  font-size:130px;
  line-height:100%;
  font-weight: 900;
}

#bgvideo {
  background-color:black;
}

.motion {
  font-style: italic;
}

#wg {
  font-size: 30px;
}

.start {
  color: white;
  border: 1px solid white;
}

.start:hover {
  background-color: white;
  color: #2F4F4F
}

.glyphicon {
  position: relative;
  top: 3px;
}

.faf {
  border-left: 1px solid #2F4F4F;
}

.faf:hover, #back:hover {
  background-color: #2F4F4F;
  color: white;
}

.longtext {
  color:black;
  font-size:0.35em;
  background-color:white;
  border-radius:5px;
  padding:2%;
  width: 60%;
  margin-left: 20%;
  /*float:top;*/
}

#s1 {
  width: 450px;
  position: relative;
  top: 30%;
  left: -10%;
  text-align: justify;
  background-color: rgb(245, 246, 250);
}

.clear {
  opacity:2;
}

.black {
  background-color:black;

}

.grey {
  background-color:rgb(245, 246, 250);
  color:black;
}

.small {
  font-size:0.4em;
}

.medium {
  font-size:0.7em;
  text-align: justify;
}

.shadow {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
#mapsButton {
  background-color:#4200b3;
  border-radius:3px;
}

#mapsButton:hover {
  cursor:pointer;
  animation-name:slowfade;
  animation-duration:.3s;
  animation-fill-mode:forwards;
  border-radius:3px;
}

@keyframes slowfade {
  to {
    background-color:#5e00ff;
  }
}

a {
  color:inherit;
}

a:hover {
  color:white;
}

.spacehack {
  color:#d3d3d3;
}


.bubble
{
position: relative;
display:inline-block;
font-size:0.3em;
max-width:60%;
min-height:1.5em;
padding: 20px;
background: #FFFFFF;
border: #7F7F7F solid 4px;
-webkit-border-radius: 20px;
-moz-border-radius: 20px;
border-radius: 20px;
}

.bubble:after
{
content: "";
position: absolute;
bottom: -15px;
left: 60%;
border-style: solid;
border-width: 15px 15px 0;
border-color: #FFFFFF transparent;
display: block;
width: 0;
z-index: 10;
}

.bubble:before
{
content: "";
position: absolute;
bottom: -19.5px;
left: calc(60% - 3px) ;
border-style: solid;
border-width: 18px 18px 0;
border-color: #7F7F7F transparent;
display: block;
width: 0;
z-index: 0;
}

.yellow {
  background-color:#CC9900;
}

footer {
  font-size:0.3em;
  position:absolute;
  top:100%;
  transform:translateY(-100%);
  color:white;
  text-shadow: 2px 2px 4px black;
}
#devs {
  top:95%;
}
#rhea {
  top:90%;
}

.full {
  opacity:1;
}

#guygif {
  visibility:hidden;
}

#galgif {
  visibility:hidden;
}
